[user]
	name = Ivan Nizamov
	email = ivan.nizamov@proton.me
[credential "https://github.com"]
	helper = 
	helper = !/run/current-system/sw/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/run/current-system/sw/bin/gh auth git-credential
[init]
	defaultBranch = main
